SYNTH_REPORTS/
dataset_inputs_power/
slacks/
__pycache__/
TEST_DATA/
SYNTH/OUTPUT_DATASETS/
SYNTH/TEST_DATA/
SYNTH/INCA_libs/
SYNTH/*.log*
SYNTH/*.cmd*
SYNTH/synth/*
SYNTH/work/*
SYNTH/bench/*
SYNTH/sim.log
SYNTH/synth.log
OUTPUT_DATASETS/
testing.csv
predict*.txt
GEN_RESULTS*/
datasets/*.txt
datasets/*_*
train_data_full.py
gen_decision_tree_full.py
gen_decision_tree_verilog_full.py
gen_decision_tree_verilog_module_full.py
results_comps/*full*
