#! /bin/bash 
# Set design variables
export DESIGN_NAME="decision"
export TESTBENCH_TOP="tst"
export TESTBENCH_INST="DUT"
export RTL_LANG="Verilog"
export BENCH_LANG="Verilog"

# Set synthesis parameters
export ENABLE_MULTI_VT=false
export SYNTH_VDD="1.0"
export GENERIC_EFFORT="high"
export MAP_EFFORT="high"
export OPT_EFFORT="high"
export USE_INNOVUS=false
export OPTIMIZE_CONSTANT_FLOPS="false"
export DELETE_UNLOADED_SEQS="false"

# Set global paths
export DESIGN_ROOT=`pwd`
export RTL_ROOT="${DESIGN_ROOT}/rtl"
export BASE_ROOT="${DESIGN_ROOT}/base"
export SYNTH_ROOT="$DESIGN_ROOT/synth"
export TCL_ROOT="$DESIGN_ROOT/tcl"
export CONSTR_ROOT="$DESIGN_ROOT/sdc"
export BENCH_ROOT="${DESIGN_ROOT}/bench"
export STIMULI_ROOT="${DESIGN_ROOT}/OUTPUT_DATASETS"
export STIMULI_DEBUG_ROOT="${DESIGN_ROOT}/TEST_DATA"
export SIMULATION_ROOT="${DESIGN_ROOT}/work"
export VCD_ROOT="${SIMULATION_ROOT}/vcd"
export TCF_ROOT="${SIMULATION_ROOT}/tcf"

# Import script settings
SCRIPT_CONFIG="`pwd`/script.config"
source $SCRIPT_CONFIG
