#! /bin/bash 
# Exporting for autocompletion
declare inputOptions
declare -r E_OPTERR=85
declare -r ScriptName=${0##*/}
declare -r ShortOpts="aA:sp:dj:htgvncl:"
declare -r LongOpts="all,architecture:,gui,post-synth,debug,jobs:,\
    clock-period:,clean,no-delay,dump-tcf,no-vcd,dataset-list:,help"

DESIGN_CONFIG="`pwd`/design.config"
source $DESIGN_CONFIG

