#!/bin/bash
# Exporting for autocompletion
declare inputOptions
declare -r E_OPTERR=85
declare -r ScriptName=${0##*/}
declare -r ShortOpts="j:hdaA:mf:p:xevtgcrs"
declare -r LongOpts="jobs:,help,debug,all,architecture:,multi-clk,clocks-file:,\
    clock-period:,skip-synthesis,disable-adders,multi-vt,vdd:,clock-gating,clean,resynthesize,synthinresynth"

DESIGN_CONFIG="`pwd`/design.config"
source $DESIGN_CONFIG

