#! /bin/bash
export UVM_PATH="/lab215/tools/cadence/INCISIVE152/tools/methodology/UVM/CDNS-1.1d/sv"

#################################
# Script variables
#################################
# Architecture Selection variables
ARCH_LIST=
ARCH_COUNT=0
ARCH_NAMES=
export CURRENT_DATASET=
DATASET_LIST=
USE_DATA_SIZE_LIST=false
DATA_SIZES=
export ENABLE_HA_FA=true
export ENABLE_CLOCK_GATING=false

# Common script execution parameters
MAX_PROCS=1
CLEAN_ALL=false
ALL_ARCHS=false
ARCH_LIST=
ARCH_COUNT=0
ARCH_NAMES=
export DEBUG_MODE=false

# Synthesis script parameters
USE_DATA_SIZE_LIST=false
DATA_SIZES=
export ENABLE_HA_FA=true
export ENABLE_CLK_BUF=true
export SKIP_SYNTH_IF_PRESENT=false
CLK_PARAM=
MULTI_CLK=false
SYNTH_CLK_LIST=
SYNTH_CLK_FILE_PATH="synth_clk.list"
export RESYNTHETIZE=false

# Simulation script parameters
USE_NETLIST=false
SYNTH_PATH_LIST=
NO_DELAY=false
export DUMP_TCF=false
export NO_VCD=false
export CLK_PARAM=10.00
USE_GUI=false

# Log file parameters
SIM_LOG_FILENAME="sim.log"
SYNTH_LOG_FILENAME="synth.log"

# RTL source file extension
if [ "$RTL_LANG" == "Verilog" ]; then
    export RTL_FILE_EXT="v"
else
    export RTL_FILE_EXT="vhd"
fi

# Bench source file extension
if [ "$BENCH_LANG" == "SystemVerilog" ]; then
    export BENCH_FILE_EXT="sv"
elif [ "$BENCH_LANG" == "VHDL" ]; then 
    export BENCH_FILE_EXT="vhd"
else
    export BENCH_FILE_EXT="v"
fi

